pkgbase = waylandify-gui
	pkgdesc = GTK4 GUI for managing user-level Wayland desktop launch overrides
	pkgver = 1.1.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = desktop-file-utils
	source = waylandify-gui-1.1.0.tar.gz
	sha256sums = 5252dd90d0e9286b0d2f1f78252e1c1c4c50cfcb72952357567b694bc21fbb85

pkgname = waylandify-gui
