pkgbase = waylandify-gui
	pkgdesc = GTK4 GUI for managing user-level Wayland desktop launch overrides
	pkgver = 1.1.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = desktop-file-utils
	source = waylandify-gui-1.1.0.tar.gz
	sha256sums = 708aa73740f800e7b00a32d9fb4c3a164a9667c4e915bc14643f40b905d3da7d

pkgname = waylandify-gui
